doctype html
html(lang="en")
  head
    title= "Voici le contenu du fichier"
    style
      include ../public/style.css
  body
    h1 Voici le contenu du fichier :
    if error
      p #{error}
    else 
      table
        tr
            th Identifiant
            th Ville
        each infoObj, indexInfo in allInfos
            tr
                td= infoObj._id
                td= infoObj.name
                td
                  form(method="post" action='/city/' + infoObj._id)
                    input(type='hidden' name='action' value="PUT")
                    input(type='submit', value="Supprimer")
                td
                  form(method="post" action='/city/' + infoObj._id)
                    input(type='hidden' name='action' value="DELETE")
                    input(type='submit', value="Supprimer")
    form(action="/city", method="post")
      label(for="cityName") Nom de la nouvelle ville : 
      input(type="text", id="cityName", name="name")
      input(type="submit", value="Enregistrer")